body {
	font-family: 'Fira Sans', sans-serif;
}

a:-webkit-any-link {
	text-decoration: none;
}

a, a:visited {
    color: #9650FA;
}

a:hover {
    color: #46FAB4;
}

li {
	list-style: none;
}

h2{
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
}


h2:hover {
    color: #46FAB4;
	text-decoration: none;
	transition: all 0.3s ease;
}

h1 {
	color: #9650FA;
	font-weight: bold;
	margin-bottom: 40px;
}


h3 {
	color: #fff;
	font-weight: bolder;
}


h3, h4 {
    margin-top: 3px;
    margin-bottom: 0px;
}

h5 {
	font-size: 3em;
}

h6 {
	color: #9650FA;
    font-weight: bold;
    font-size: 2em;
    float: right;
    margin: 0;
}

ul {
	padding: 0;
}

p {
	color: #333;
}

main {
    width: 80%;
    height: auto;
    float: right;
    
}

img {
	vertical-align: baseline;
}

footer {
	width: 80%;
    height: auto;
    float: right;
}


.main__container_sub {
	color: #9650FA;
    font-weight: normal;
    float: left;
    font-size: 1.5em;
}

.jumbotron {
	background-color: #46FAB4;
	margin-top: 30px;
}

.sidebar {
	background-color: #9650FA;
	width: 20%;
	height: 100%;
	position: fixed;
}

.sidebar__elements {
	width: 50%;
	padding-top: 100px;
	margin: 0 auto;
}

.sidebar__elements--logo {
	padding-bottom: 15px;
}

.sidebar__elements--menu {
	padding-top: 20%;
}

.container {
	width: 95%;
}

.navbar-default {
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	width: 80%;
    position: relative;
}


.navbar-default .navbar-nav>li>a {
	color: #9650FA;

}

.navbar-default .navbar-nav>li>a:hover, h4 {
	color: #46FAB4;
}


.row {
	padding-top: 1%;
}

.well {
	background-color: #f2f2f2;
	background-image: none;
	border-color: none;
}

.btn-primary {
	background-color: #9650FA;
	background-image: none;
	border-color: #9650FA;
}

.btn-primary:hover {
	background-color: #46FAB4;
	border-color: #46FAB4;
	color: #9650FA;
}

.btn-lg {
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 5px;
}

.carousel {
	margin-top: 30px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-caption {
	padding-bottom: 150px;
	text-shadow: none;
}

.carousel-control {
     width: 10%;
     text-shadow: none;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
	color: #9650FA;
}

.carousel__text--first {
	padding-left: 100px;
}

.carousel__text--second {
	padding-right: 100px;
}

.carousel__text--third {
	padding-left: 300px;
}

.footer__elements {
	margin-top: 10px;
    text-align: right;
    float: right;
}

.footer__elements--icon {
	margin-left: 1em;
    display: inline-block;
    color: #9650FA;
    float: right;
}

.fas {
	font-size: 1.5em;
}

.menu__element--visited {

	text-decoration: underline;
}

.p__col--key {
	font-size: 10em;
	font-weight: lighter;
	color: #9650FA;
	display: inline;
}

.p__col--intro {
	padding-top: 6%;
}


.col-md-3, .col-md-12 {
	padding: 5px;
}

.img-responsive {
    margin: 0 auto;
}

.modal-lg {
    width: 30%;
}

.modal-header {
	padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #e5e5e5;
}


#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-top: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; height: 170px;}
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}

.panel-thumbnail:hover .thumb .img-responsive{
filter: opacity(.5);
transition: all 0.5s ease;
-webkit-transform:scale(1.1);transform:scale(1.1);
}

.panel-thumbnail {
overflow:hidden;
}




@media (max-width: 350px) {

h3 {
	font-size: 20px;
}

h4 {
	font-size: 15px;
}

footer, main {
	width: 100%;
}

.col-xs-7 {
	width: 100%;
}

.col-xs-1 {
	display: none;
 }

   .col-md-3 {
 	width: 100%;
 	float: left;
 }


.sidebar {
	background-color: #9650FA;
	width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 20%;
}

.carousel-inner, .carousel-control .glyphicon-chevron-right, .carousel-control, .glyphicon-chevron-left, .sidebar__elements--menu {
	display: none;
}

.navbar-default {
	background-color: #9650FA;
	width: 100%;
	position: absolute;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-collapse {
	background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #9650FA;
}

.sidebar__elements {
	text-align: center;
	padding-left: 0;
}


}

@media (min-width: 351px) and (max-width: 767px) {

h3 {
	font-size: 20px;
}

h4 {
	font-size: 15px;
}

footer, main {
	width: 100%;
}

.col-xs-7 {
	width: 100%;
}

.col-xs-1 {
	display: none;
 }

  .col-md-3 {
 	width: 50%;
 	float: left;
 }


.sidebar {
	background-color: #9650FA;
	width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 10%;
}

.carousel-inner, .carousel-control .glyphicon-chevron-right, .carousel-control, .glyphicon-chevron-left, .sidebar__elements--menu {
	display: none;
}

.navbar-default {
	background-color: #9650FA;
	width: 100%;
	position: absolute;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-collapse {
	background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #9650FA;
}

.sidebar__elements {
	text-align: center;
	padding-left: 0;
}


}

@media (min-width: 768px) and (max-width: 1199px) {

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 1.8em;
	position: absolute;
}

.col-xs-7 {
	width: 100%;
}

.col-xs-1 {
	display: none;
 }

 .col-md-3 {
 	width: 33%;
 	float: left;
 }

.carousel__text--third {
    padding-left: 100px;
}

.sidebar__elements--logo {
	max-width: 80%;
}

}

@media (min-width: 1200px) and (max-width: 1507px) {

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 2.5em;
	position: absolute;
}

.carousel__text--third {
    padding-left: 80px;
    padding-left: 300px;
}


}

@media (min-width: 767px) {

#bs-example-navbar-collapse-1 .mainNav .menu__element {
	display: none;
}

}

@media (max-width: 460px) {

.col-md-3 {
	width: 100%;
}
}

}



