body {
	font-family: 'Fira Sans', sans-serif;
}

li {
	list-style: none;
}

h2{
    color: #fff;
	text-decoration: none;
}


h2:hover {
    color: #46FAB4;
	text-decoration: none;
}

h1 {
	color: #9650FA;
	font-weight: bold;
	margin-bottom: 40px;
}

h2 {
	font-size: 15px;
}

h2, h3 {
	color: #fff;
	font-weight: bolder;
}


h3, h4 {
    margin-top: 3px;
    margin-bottom: 0px;
}

h5 {
	font-size: 3em;
}

ul {
	padding: 0;
}

p {
	color: #333;
}

.sidebar {
	background-color: #9650FA;
	width: 20%;
	height: 100%;
	position: absolute;
}

.sidebar__elements {
	padding-left: 33%;
	padding-top: 100px;
}

.sidebar__elements--logo {
	padding-bottom: 15px;
}

.sidebar__elements--menu {
	padding-top: 20%;
}

.navbar-default {
	border-color: transparent;
	background-color: #fff;
	background-image: none;
	-webkit-box-shadow: none;
	width: 80%;
    position: relative;
    float: right;
}

.navbar-default .navbar-nav>li>a {
	color: #9650FA;
}

.navbar-default .navbar-nav>li>a:hover, h4 {
	color: #46FAB4;
}


main {
    width: 80%;
    height: auto;
    float: right;
}

.row {
	padding-top: 1%;
}

.carousel {
	margin-top: 30px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-caption {
	padding-bottom: 150px;
	text-shadow: none;
}

.carousel-control {
     width: 10%;
     text-shadow: none;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
	color: #9650FA;
}

.carousel__text--first {
	padding-left: 100px;
}

.carousel__text--second {
	padding-right: 100px;
}

.carousel__text--third {
	padding-left: 300px;
}


